altgraph==0.17
auto-py-to-exe==2.7.11
bottle==0.12.19
bottle-websocket==0.2.9
Eel==0.12.4
future==0.18.2
gevent==20.9.0
gevent-websocket==0.10.1
greenlet==1.0a1
gunicorn==20.0.4
macholib==1.14
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.10
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.2.0
